body{
    background-color: black;
}

.outer_box{
    margin: auto;
    margin-top: 100px;
    width: 800px;
    height: 400px;
    background-color: azure;
}

.heading1{
    background-color:darkgreen;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    height: 70px;
    padding-top: 10px;
}

hr{
    border: solid black 1px;
    
}

.question_div{

    padding-top: 10px;
    background-color: bisque;
    color: black;
    text-align: left;
    font-weight: bold;
    height: 70px;
    font-size: 20px;
}

.answer_div{
    background-color: lightgreen;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;

    padding-top: 10px;
    padding-bottom: 10px;
}

button{
    
    margin-right: 80px;
    width: 200px;
    height: 30px;
    font-size: 18px;
}

button:hover{
    background-color: cadetblue;
}
.index_div{
    padding-top: 10px;
}

.result_div{
    padding-top: 10px;
    background-color: white;
    color: blue;
    text-align: left;
    font-weight: bold;
    height: 70px;
    font-size: 25px;
    display: none;
}